.blackColor {
  color: black !important;
}

.blackBorderTop {
  border-top: 5px solid #5050d2 !important;
}

.ag-theme-material {
  --ag-font-family: Nunito, Roboto, sans-serif !important;
}

@font-face {
  font-family: 'Nunito';
  src: url('/fonts/Nunito-variable_wght.ttf');
}
