on:
  push:
    # sequence of patterns matched against refs/tags
    tags:
      # push events to matching v*, i.e. v1.0, v20.15.10
      - 'v*' 

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-node@v1
        with:
          node-version: 10
      - run: yarn install
      - run: yarn test

      - name: publish to npm
      - uses: JS-DevTools/npm-publish@v1
        with:
          token: ${{ secrets.NPM_TOKEN }}
